<a href="https://colab.research.google.com/github/bhavy404/UCS420p/blob/main/Lab2_assign2_420.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***ASSIGNMENT 2*** by- Bhavya Raj Singh

**Q. 1** Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [ ]:

L = [10, 20, 30, 40, 50, 60, 70, 80]


L.append(200)
L.append(300)
print(f"List after adding 200 and 300: {L}")


L.remove(10)
L.remove(30)
print(f"List after removing 10 and 30: {L}")


L.sort()
print(f"List in ascending order: {L}")


L.sort(reverse=True)
print(f"List in descending order: {L}")

List after adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
List after removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
List in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
List in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

**Q. 2** Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [ ]:

scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)


highest_score = max(scores)
highest_index = scores.index(highest_score)
print(f"Highest score: {highest_score}, Index: {highest_index}")


lowest_score = min(scores)
lowest_count = scores.count(lowest_score)
print(f"Lowest score: {lowest_score}, Count: {lowest_count}")


reversed_list = list(reversed(scores))
print(f"Reversed tuple as list: {reversed_list}")


specific_score = int(input("Enter a score to check (e.g., 76): "))
if specific_score in scores:
    first_index = scores.index(specific_score)
    print(f"The score {specific_score} is present at index {first_index}.")
else:
    print(f"The score {specific_score} is not present in the tuple.")

Highest score: 92, Index: 5
Lowest score: 45, Count: 2
Reversed tuple as list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter a score to check (e.g., 76): 55
The score 55 is not present in the tuple.

**Q. 3** WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [ ]:
import random


numbers = [random.randint(100, 900) for _ in range(100)]


def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True


odd_numbers = [num for num in numbers if num % 2 != 0]
print(f"Odd Numbers ({len(odd_numbers)}): {odd_numbers}")


even_numbers = [num for num in numbers if num % 2 == 0]
print(f"Even Numbers ({len(even_numbers)}): {even_numbers}")


prime_numbers = [num for num in numbers if is_prime(num)]
print(f"Prime Numbers ({len(prime_numbers)}): {prime_numbers}")

Odd Numbers (46): [415, 771, 117, 161, 783, 487, 607, 527, 469, 465, 493, 387, 103, 251, 319, 637, 733, 169, 161, 249, 543, 593, 697, 247, 867, 223, 519, 351, 765, 469, 713, 607, 717, 855, 215, 179, 615, 501, 517, 787, 209, 415, 685, 255, 651, 589]
Even Numbers (54): [220, 508, 424, 422, 750, 468, 576, 114, 772, 328, 158, 810, 582, 824, 748, 572, 744, 408, 872, 604, 702, 632, 602, 406, 724, 732, 596, 508, 578, 580, 742, 538, 142, 634, 754, 726, 880, 546, 136, 726, 646, 234, 354, 208, 692, 592, 540, 380, 100, 266, 762, 772, 848, 848]
Prime Numbers (10): [487, 607, 103, 251, 733, 593, 223, 607, 179, 787]

**Q. 4** Consider the following two sets, A and B, representing scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operations using set functions:
i. Find the unique scores achieved by both teams (union of sets).
ii. Identify the scores that are common to both teams (intersection of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [ ]:

A = {34, 56, 78, 90}
B = {78, 45, 90, 23}


union_scores = A.union(B)
print(f"Union of A and B (Unique scores): {union_scores}")


common_scores = A.intersection(B)
print(f"Intersection of A and B (Common scores): {common_scores}")


exclusive_scores = A.symmetric_difference(B)
print(f"Symmetric Difference (Exclusive scores): {exclusive_scores}")


is_subset = A.issubset(B)
is_superset = B.issuperset(A)
print(f"Is A a subset of B? {is_subset}")
print(f"Is B a superset of A? {is_superset}")


X = int(input("Enter a score to remove from set A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from set A. Updated A: {A}")
else:
    print(f"Score {X} is not present in set A.")

Union of A and B (Unique scores): {34, 45, 78, 23, 56, 90}
Intersection of A and B (Common scores): {90, 78}
Symmetric Difference (Exclusive scores): {34, 45, 23, 56}
Is A a subset of B? False
Is B a superset of A? False
Enter a score to remove from set A: 56
Score 56 removed from set A. Updated A: {34, 90, 78}